.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 10rem;
  position: sticky;
  top: 0;
  background-color: var(--grey1-color);
  z-index: 2;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.heading {
  cursor: pointer;
}
