.form {
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.4rem;
}

.span {
  width: 18%;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  margin-top: 2rem;
  width: 100%;
}

.btn-cancel {
  background-color: grey !important;
}

.btn-cancel:hover {
  background-color: var(--grey3-color) !important;
}
